@*  Documentation Header
    Author: Mikayle Coetzee (ST10023767)
    Course: PROG7311 POE 2023
    Part: 2                              *@

@{
    ViewData["Title"] = "Home Page";
}

@using ST10023767_PROG.Classes

<img src="~/Images/dashboard_banner.png" style="width: 100%; margin-top: 25px; margin-bottom:20px">

<div class="row">
    @if (WorkerClass.GetCurrentUserType() == 2)
    {
        <div class="col-xl-3 col-md-6">
            <div class="card text-white mb-4 rounded">
                <img src="~/Images/add_farmer.png" class="card-img-top rounded-top" alt="Add Farmer Image" style="height: 160px; object-fit: cover;">
                <div class="card-footer d-flex align-items-center justify-content-between" style="background: rgba(0, 0, 0, 0.6);">
                    <a class="small text-white stretched-link" asp-area="" asp-controller="Farmer" asp-action="AddFarmer">Add Farmer</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card text-white mb-4 rounded">
                <img src="~/Images/market_place.png" class="card-img-top rounded-top" alt="Add Farmer Image" style="height: 160px; object-fit: cover;">
                <div class="card-footer d-flex align-items-center justify-content-between" style="background: rgba(0, 0, 0, 0.6);">
                    <a class="small text-white stretched-link" asp-area="" asp-controller="Product" asp-action="ViewMyProducts">Market Place</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card text-white mb-4 rounded">
                <img src="~/Images/education.png" class="card-img-top rounded-top" alt="Add Farmer Image" style="height: 160px; object-fit: cover;">
                <div class="card-footer d-flex align-items-center justify-content-between" style="background: rgba(0, 0, 0, 0.6);">
                    <a class="small text-white stretched-link" asp-area="" asp-controller="Resource" asp-action="EducationalResource">Education Resource</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card text-white mb-4 rounded">
                <img src="~/Images/comminication.png" class="card-img-top rounded-top" alt="Add Farmer Image" style="height: 160px; object-fit: cover;">
                <div class="card-footer d-flex align-items-center justify-content-between dropdown" style="background: rgba(0, 0, 0, 0.6);">
                    <a class="small text-white stretched-link dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Communication</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" asp-area="" asp-controller="Post" asp-action="FarmingHub">Farming Hub</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="Project" asp-action="ProjectCollaboration">Project Collaboration</a></li>
                    </ul>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-xl-3 col-md-6">
            <div class="card text-white mb-4 rounded">
                <img src="~/Images/market_place.png" class="card-img-top rounded-top" alt="Add Farmer Image" style="height: 160px; object-fit: cover;">
                <div class="card-footer d-flex align-items-center justify-content-between" style="background: rgba(0, 0, 0, 0.6);">
                    <a class="small text-white stretched-link" asp-area="" asp-controller="Product" asp-action="ViewMyProducts">Market Place</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card text-white mb-4 rounded">
                <img src="~/Images/education.png" class="card-img-top rounded-top" alt="Add Farmer Image" style="height: 160px; object-fit: cover;">
                <div class="card-footer d-flex align-items-center justify-content-between" style="background: rgba(0, 0, 0, 0.6);">
                    <a class="small text-white stretched-link" asp-area="" asp-controller="Resource" asp-action="EducationalResource">Education Resource</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card text-white mb-4 rounded">
                <img src="~/Images/comminication.png" class="card-img-top rounded-top" alt="Add Farmer Image" style="height: 160px; object-fit: cover;">
                <div class="card-footer d-flex align-items-center justify-content-between" style="background: rgba(0, 0, 0, 0.6);">
                    <a class="small text-white stretched-link" asp-area="" asp-controller="Post" asp-action="FarmingHub">Farming Hub</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card text-white mb-4 rounded">
                <img src="~/Images/project_collaboration.png" class="card-img-top rounded-top" alt="Add Farmer Image" style="height: 160px; object-fit: cover;">
                <div class="card-footer d-flex align-items-center justify-content-between" style="background: rgba(0, 0, 0, 0.6);">
                    <a class="small text-white stretched-link" asp-area="" asp-controller="Project" asp-action="ProjectCollaboration">Project Collaboration</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    }
</div>
