@*  Documentation Header
    Author: Mikayle Coetzee (ST10023767)
    Course: PROG7311 POE 2023
    Part: 2                              *@

<h1 class="mt-4">Project Collaboration</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Project Collaboration</li>
</ol>

